<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:sec="https://www.thymleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    Welcome <b></b><span sec:authentication="name">Username</span></b>
    &nbsp;&nbsp; <span sec:authentication="principal.authorities">Roles</span>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<h1>the goods update pages</h1>
<form th:action="@{/doUpdateGoods}" method="post">
  <ul> <li><input type="hidden" name="id" th:value="${g.id}"></li>
    <li>name</li>
    <li><input type="text" name="name" th:value="${g.name}"></li>
    <li>remark</li>
    <li><textarea rows="3" cols="50" name="remark" th:text="${g.remark}"></textarea></li>
    <li><input type="submit" value="Update Goods"></li>
  </ul> </form>
</body>
</html>